
<tr>
	<td><%= blog.user.name %></td>
	<td><span class="title"><%= blog.title%></span></td>
	<td><span class="timestamp">
    <%= blog.created_at %>
	</span></td>
	<td><span class="viewnumber"><center><%= blog.view_number %></center></span></td>
	<td><center><span class="approved_comments_count"><%= blog.comments.count%></span></center></td>
	<td><%= link_to "查看", blog_path(blog) %>
	<a href="/blogs/<%= blog.id %>"></td>
	<td><% if current_user?(blog.user) %><%= link_to "编辑", edit_blog_path(blog) %>
	<a href="/blogs/<%= blog.id %>/edit"></a><% end %></td>
	<td><% if current_user?(blog.user) %>
    	<%= link_to "删除", blog, method: :delete,data: { confirm: "You sure?" },title: blog.title %>
    	<a href="/blogs/<%= blog.id %>" data-method="delete" data-confirm="You sure?"></a>
	<% end %></td>
</tr>