<% provide(:title, @blog.title) %>
<h1>View Blog</h1>
<%= image_tag("blog.jpeg", alt: "Blogs") %>
<div class="show">
	标&nbsp&nbsp&nbsp&nbsp题:<h1><%= @blog.title %></h1><br>
	文&nbsp&nbsp&nbsp&nbsp章:<br>&nbsp&nbsp&nbsp&nbsp<%= @blog.body %><br>
	<br>评论数:&nbsp&nbsp&nbsp&nbsp<%= @blog.comments.count %>
	<br>
	<%= link_to image_tag("back.png", alt: "Rails"), current_user %>
</div>
<hr>
<div class="comments">
	<div class="show comments">
		<h2>最近评论:</h2><br>

		<% @blog.comments.each do |comment| %>

			<strong>评论人:</strong><%= comment.name%><br>
			<strong>评&nbsp&nbsp&nbsp&nbsp论:</strong><%= comment.content%><br>
			<strong>时&nbsp&nbsp&nbsp&nbsp间:</strong><%= comment.created_at%><br>
			
		<% end %>
	</div>
	<div class="create comments">
		<h2>发布评论:</h2>
		<%= form_for(@comment) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<input type="hidden" name="blog_id" value="<%= @blog.id %>" />
			<center><%= f.label :姓名 %></center>
			<center><%= f.text_field :name %></center>

			<center><%= f.label :评论 %></center>
			<center><%= f.text_area :content%></center>
			<br>
			<center><%= f.submit "发布评论", class: "btn btn-large btn-primary" %></center>
		<% end %>
	</div>
</div>