<h1>
<a href="<%= user_path(current_user) %>">
  <%= gravatar_for(current_user) %>
</a>
  <%= current_user.name %>
</h1>
<h4><br><span>
  已发布<%= current_user.blogs.count %>条blog
</span><br><br>
<span>
  <%= link_to "查看所有blog", current_user %>
</span>
</h4>