<p id="notice"><%= notice %></p>

<p>
  <strong>Asd:</strong>
  <%= @messageee.asd %>
  <%= image_tag @messageee.image_url(:thumb) if @messageee.image? %>
</p>

<%= link_to 'Edit', edit_messageee_path(@messageee) %> |
<%= link_to 'Back', messageees_path %>
